.container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 20px);
  color: navy;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6%;
  padding: 0 2rem 0 2rem;
  border: 5px solid navy;
  border-bottom: none;
  font-size: max(2vw, 23px);
}

.nav > div:hover {
  transform: scale(1.2);
  transition: all 0.1s linear;
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-areas:
    "info info info info info info"
    "info info info info info info"
    "info info info info info info"
    "resume resume articles articles articles articles"
    "resume resume articles articles articles articles"
    "projects projects projects other other other"
    "projects projects projects contact contact contact";
  width: 100%;
  /* max-width: 1800px; */
  height: 100%;
  border-top: 10px solid navy;
  border-right: 10px solid navy;
  overflow: hidden;
  font-size: min(7vw, 70px);
  /* text-shadow: -50px 30px #f7b449; */
}

.main > div {
  font-size: 3vw;
  font-weight: bold;
  border-left: 10px solid navy;
  border-bottom: 10px solid navy;
  cursor: pointer;
  overflow: hidden;
}

.main > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1em;
  background-color: whitesmoke;
}

.main > div > div:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 100%;
  height: 100%;
  grid-area: articles;
}

.background:hover {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  background-color: black;
  z-index: 99;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: info;
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  word-break: keep-all;
  box-sizing: border-box;
}
.info > span {
  animation: fadeInOut 7s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.articles {
  grid-area: articles;
}

.other {
  grid-area: other;
  white-space: pre-line;
}

.projects {
  grid-area: projects;
}

.resume {
  grid-area: resume;
}

.contact {
  grid-area: contact;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 5px solid navy;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* .title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 5px solid navy;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
